body {
    background-color: rgb(210, 221, 221);
    height: 100vh;
    margin: 0;
}

.form-iphone{
    box-shadow: 15px rgb(94, 94, 94);
    border-radius: 25px;
    background-color: rgb(0, 17, 112);
}
.text-justify{
    text-align: justify;
}
.form-iphone .img-profil{
    border-radius: 25px 0px 0px 25px;
}

.section-all-contenu{
    border-radius: 25px;
}
.section-all-contenu .form-iphone p{
    font-size: 13px;
    color: rgb(245, 206, 34);
    font-weight: 500;
}

.section-all-contenu .form-iphone .img-ksm{
    width: 70px;
    margin-bottom: 0px;
}
.deux-button a{
    font-size: 11px;
}

.deux-button .first-div-deux-button{
    color: rgb(8, 8, 8);
    transition: background-color 0.8s ease;
}
.deux-button .first-div-deux-button:hover{
    background-color: black;
    color: white;
}

.deux-button .second-div-deux-button{
    transition: background-color 0.8s ease;
    background-color: black;
    color: white;
}
.deux-button .second-div-deux-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.first-div-deux-button{
    padding-top: 13px;
    padding-bottom: 13px;
}
.second-div-deux-button{
    padding-top: 13px;
    padding-bottom: 13px;
}

.suite-contenu-after-deux h6{
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: bolder;
}
.suite-contenu-after-deux p{
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 2px;
}

.suite-contenu-after-deux p img{
    width: 18px;
}
/* .les-icons a{
    margin-right: 30px;
    margin-left: 30px;
} */

.les-icons .quatre{
    background: linear-gradient(to bottom, rgb(0, 129, 86), rgb(0, 128, 58));
}
.les-icons .premier{
    background: linear-gradient(to bottom, rgb(107, 255, 206), green);
}
.les-icons .second{
    background: linear-gradient(to bottom, rgb(26, 255, 121), green);
}
.les-icons .third{
    background: linear-gradient(to bottom, blue, rgb(14, 187, 255));
}